/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

.env
.env.compose
/.clj-kondo
/.lsp
/.calva
ignore/
.vscode/

db.sqlite
/.idea
.DS_Store
